<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
    <title>FinalExamApp</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">FinalExamApp</a>
        <div class="nav-item dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
                Admin Panel
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                <a asp-action="Create" asp-controller="Course"
                   class="dropdown-item">Add Course</a>
            </div>
        </div>

    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("CategoryNav")
        </div>
        <div class="col-9">
            @RenderBody()
            <footer class="blockquote-footer">
                <p>2019 - FinalExamApp</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
